.image {
  display: none;
}

.menu {
  display: block;
  background-color: aliceblue;
  border-style: ridge;
  box-shadow: 5px 10px #3a3a3aa8;
}
.menu-bar {
  margin: 0, 0, 2%, 0;
  display: block;
  background-color: #ffffff;
  border-style: ridge;
  box-shadow: 5px 10px #3a3a3aa8;
}
.canvas {
  width: 100vw;
  height: auto;
  color: aliceblue;
  background-color: rgb(240, 255, 246);
  border-style: ridge;
  box-shadow: 5px 10px #3a3a3aa8;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4caf50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
